.logo img {
    max-height: 50px;
    width: auto;
}

@media screen and (min-width: 992px) {
    .logo img {
        max-height: 75px;
    }
}

body {
    position: relative;
}

#search_engine {
    padding: 30px;
}

@media screen and (min-width: 740px) {
    #search_engine {
        padding: 60px;
    }
}

@media screen and (min-width: 992px) {
    #search_engine {
        padding: 100px;
    }
}

@media screen and (min-width: 740px) {
    #search_input {
        font-size: 25px;
        padding-left: 20px;
    }

    #search_input+input {
        font-size: 22px;
    }
}



.btn {
    border-radius: 0 !important;
}